<div class="home col-12">
	<div class="home-inicio col-12">
		Comunidades
	</div>
	<div class="comunidades-lista col-12">
		<div class="comunidades-comunidad col-12">
			<button class="row align-items-end">
				<img src="img/home/casa.png" class="img-fluid" alt="Responsive image">
				<span>Ciencias Básicas</span>
			</button>
		</div>
		<div class="comunidades-comunidad col-12">
			<button class="row align-items-end">
				<img src="img/home/casa.png" class="img-fluid" alt="Responsive image">
				<span>Ciencias de la Salud</span>
			</button>
		</div>
		<div class="comunidades-comunidad col-12">
			<button class="row align-items-end">
				<img src="img/home/casa.png" class="img-fluid" alt="Responsive image">
				<span>Ciencias Económicas y de la Gestión</span>
			</button>
		</div>
		<div class="comunidades-comunidad col-12">
			<button class="row align-items-end">
				<img src="img/home/casa.png" class="img-fluid" alt="Responsive image">
				<span>Humanidades Jurídicas y sociales</span>
			</button>
		</div>
		<div class="comunidades-comunidad col-12">
			<button class="row align-items-end">
				<img src="img/home/casa.png" class="img-fluid" alt="Responsive image">
				<span>Ingeniería</span>
			</button>
		</div>
	</div>
</div>