<form action="/buscador/" method="get">
    <div class="search-titulo">
        Universidad Nacional Mayor de San Marcos
    </div>
    <div class="search-input input-group mb-3">
     
            <input type="text" class="form-control" placeholder="Buscar tesis y artículos..." aria-label="Recipient's username" aria-describedby="button-addon2" name="titulo">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit" id="button-addon2">
                    <i class="fas fa-search"></i>
                </button>
            </div>

        

        <div class="search-avanzada col-12">
            <a href="">Búsqueda Avanzada</a>
        </div>
    </div>
                    
</form>
<div class="home col-12">
	<div class="home-inicio col-12">
		Inicio
	</div>
	<div class="home-ultimas-tesis col-12">
		Últimas tesis y artículos publicados -> {{res.titulo}}
	</div>
	<div class="home-lista-tesis col-12">
		<div class="home-tesis col-12">
			<div class="home-tesis-cabecera1 col-12">
				<i class="fas fa-unlock"></i>&nbsp;
				Acceso restringido <span class="home-articulo">Artículo</span>
			</div>
			<div class="home-tesis-cuerpo1 col-12">
				<div class="home-titulo col-12">
					Implementación y puesta en marcha de una planta de anhídrido carbónico líquido
				</div>
				<div class="home-autor col-12">
					Reyna Ramos, Julio Alberto (Universidad Nacional Mayor de San Marcos, 1985)
				</div>
				<div class="home-contenido col-12">
					Propone la implementación de una fábrica de producción de anhidrido carbónico en la ciudad de Tacna
					considerando que se cuenta con un mercado creciente y sin competencia en el lugar. Asimismo, el
					estudio contempla el consumo ...
				</div>
				<div class="home-visitas col-12">
					Numero de visitas: 1564
				</div>
			</div>
		</div>
		<br />
		<div class="home-tesis col-12">
			<div class="home-tesis-cabecera2 col-12">
				<i class="fas fa-unlock"></i>&nbsp;
				Acceso restringido <span class="home-articulo">Tesis</span>
			</div>
			<div class="home-tesis-cuerpo2 col-12">
				<div class="home-titulo col-12">
					Implementación y puesta en marcha de una planta de anhídrido carbónico líquido
				</div>
				<div class="home-autor col-12">
					Reyna Ramos, Julio Alberto (Universidad Nacional Mayor de San Marcos, 1985)
				</div>
				<div class="home-contenido col-12">
					Propone la implementación de una fábrica de producción de anhidrido carbónico en la ciudad de Tacna
					considerando que se cuenta con un mercado creciente y sin competencia en el lugar. Asimismo, el
					estudio contempla el consumo ...
				</div>
				<div class="home-visitas col-12">
					Numero de visitas: 1564
				</div>
			</div>
		</div>
		<br />
	</div>
</div>
