<div class="home col-12">
	<div class="home-inicio col-12">
		Inicio
	</div>
	<div class="home-ultimas-tesis col-12">
		Últimas tesis y artículos publicados 
	</div>
	<div class="home-lista-tesis col-12">
		<div class="home-tesis col-12">
			<div class="home-tesis-cabecera col-12">
				<i></i>
				Acceso restringido <span>Artículo</span>
			</div>
			<div class="home-tesis-cuerpo col-12">
				<div class="home-titulo col-12">
					Implementación y puesta en marcha de una planta de anhídrido carbónico líquido 
				</div>
				<div class="home-autor col-12">
					Reyna Ramos, Julio Alberto (Universidad Nacional Mayor de San Marcos, 1985)
				</div>
				<div class="home-contenido col-12">
					Propone la implementación de una fábrica de producción de anhidrido carbónico en la ciudad de Tacna considerando que se cuenta con un mercado creciente y sin competencia en el lugar. Asimismo, el estudio contempla el consumo ...
				</div>
				<div class="home-visitas col-12">
					Numero de visitas: 1564
				</div>
			</div>
		</div>
	</div>
</div>
