<div class="home col-12">
	<div class="home-inicio col-12">
		Tesis más visitadas
	</div>
	<form action="">
		<div class="row">
			<div class="avanzado-label masvisitadas-label col-12">
				Rango de visitas
			</div>
		
			<div class="slidecontainer col-12 col-lg-6">
				<div class="inputDiv">
					<div class="etiqueta"></div>
					<span class="ini-slider-start">1</span><span class="ini-slider-end">100</span>
					<input class="slider" type="range" value="35" min="0" max="100" autocomplete="off" id="input3">
				</div>
			</div>
			<div class="masvisitadas-buscar col-12 col-lg-6">
				<button>Buscar</button>
			</div>	
		</div>
	</form>
</div>