<div class="col-12 home-inicio">Asesores</div>
<hr>
<div class="col-12 subtitulo">Asesor</div>
<div class="col-12">
    <form class="form-group row">
        <div class="col-10">
            <input type="text" class="form-control" placeholder="Ingrese el nombre del asesor...">
        </div>
        <div class="col-2">
            <button class="btn btn-dark btn-block">Buscar</button>
        </div>
    </form>
</div>
