<br />
<div class="container">
  <div class="row p-3">
    <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"></div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
    </div>
    <div class="card col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 "style="text-align: center;">
      <br/>
      <div class="card-block">
        <h4 class="card-title">Ingreso al Sistema</h4>
        <p class="card-text" >Módulo de administración del Sistema de Gestión de Tesis</p>
        <p class="card-text"></p>
        <div class="card-body">
          <form action="" class="login">
            <div class="form-group">
              <input class="form-control" type="text" name="nombre" placeholder="Correo">
            </div>
            <div class="form-group">
              <input class="form-control" type="text" name="pass" placeholder="Contraseña">
            </div>
            <button  onclick="location.href='/homeadmin'" type="button" class="btn btn-danger">Iniciar sesión</button>
          </form>
        </div>
      </div>
    </div>
    <div class=" col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 ">
    </div>
  </div>
</div>
<br/>