<div class="col-12 home-inicio">¿Olvidó la contraseña?</div>
<br>
<div class="col-12">
    <form action="/acceso/olvido" method="POST">
        <small>Introduzca la dirección de correo electrónico que proporcionó cuando se registró.</small>
        <small>Se le enviará un mensaje a esa dirección con las instrucciones pertinentes</small>
        <br><br>
        <div class="form-group">
            <label for="exampleInputEmail1">Correo electrónico</label>
            <input type="email" name="correo" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingrese su correo electrónico">
        </div>
        
        <br>
        <button type="submit" class="btn btn-dark">Enviar</button>
        
    </form>
    <br>
    <br>
</div>