<style>
    .card{
        background-color: #f0f0f0;
    }
    .card .card-title{
        color: #7c9c37;
    }
    .card .card-text{
        font-size: 14px;
        border:none;
    }

</style>

<section>
    	<div class="container">
            <br>
            <h4>Ultimas novedades</h4>
            <br>
    		<div class="row">
    			<div class="col-sm-12 col-md-6 col-lg-4">
    				<!--Card-->
					<div class="card hoverable">

					    <!--Card image-->
					    <img class="img-fluid" src="https://i.ytimg.com/vi/pKg4mu9E3eE/maxresdefault.jpg" alt="Card image cap">

					    <!--Card content-->
					    <div class="card-body">
					        <!--Title-->
					        <h4 class="card-title">El Ni침o prodigio de la inform치tica</h4>
					        <!--Text-->
					        <p class="card-text">Yo tengo una lap y y le compre un mouse y se lo puse... Y funcion칩, Tambien le puse un controlador de vuelo a una baleada y cobro vida</p>
                            <div style="text-align: center;">
                                <a href="https://www.e-consulta.com/nota/2017-02-03/entretenimiento/el-nino-prodigio-de-la-informatica-desperto-el-humor-en-facebook" class="btn btn-primary">Visualizar</a>
                            </div>
					    </div>

					</div>
					<!--/.Card-->
    			</div>
    			<div class="col-sm-12 col-md-6 col-lg-4">
    				<!--Card-->
					<div class="card hoverable">

					    <!--Card image-->
					    <img src="https://as01.epimg.net/meristation/imagenes/2019/11/13/betech/1573662287_764499_1573675379_miniatura_normal.jpg" class="img-fluid" alt="">

					    <!--Card content-->
					    <div class="card-body">
					        <!--Title-->
					        <h4 class="card-title">Nuevo Motorola</h4>
					        <!--Text-->
					        <p class="card-text">Xiaomi registra la patente de un nuevo smartphone con tapa a lo Motorola Razr, el mejor celular hasta ahora...</p>
                            <div style="text-align: center;">
                                <a href="https://www.xiaomiadictos.com/xiaomi-registra-la-patente-de-un-nuevo-smartphone-con-tapa-a-lo-motorola-razr/" class="btn btn-primary">Visualizar</a>
                            </div>
					    </div>

					</div>
					<!--/.Card-->
    			</div>
    			<div class="col-sm-12 col-md-6 col-lg-4">
    				<!--Card-->
					<div class="card hoverable">

					    <!--Card image-->
					    <img src="https://www.eluniversal.com.mx/sites/default/files/styles/f03-651x400/public/2018/12/31/5g-smartphones-2019.jpg?itok=mTW_eUhY" class="img-fluid">

					    <!--Card content-->
					    <div class="card-body">
					        <!--Title-->
					        <h4 class="card-title">Generacion 5G</h4>
					        <!--Text-->
					        <p class="card-text">Durante el 2018, varios fabricantes del sector de la telefonia movil dieron pistas de los cambios que se aproximan el proximo a침o...</p>
                            <div style="text-align: center;">
                                <a href="https://www.eluniversal.com.mx/techbit/lista-la-generacion-5g-de-smartphones" class="btn btn-primary">Visualizar</a>
                            </div>
					    </div>

					</div>
					<!--/.Card-->
    			</div>
    		</div>
            <br>
    	</div>
    </section>
    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="js/mdb.min.js"></script>
    <!-- custom js -->
    <script type="text/javascript" src="js/custom.js"></script>