<div class="col-12 home-inicio">Grado acádemico</div>
<hr>
<div class="col-12 subtitulo">Grado acádemico</div>
<div class="col-12">
    <form class="form-group row">
        <select class="col -8 form-control">
            <option>Facultad de Ciencias Contables </option>
            <option>Facultad de Ciencias Económicas </option>
            <option>Facultad de Ciencias Físicas</option>
            <option>Facultad de Ciencias Matemáticas</option>
            <option>Facultad de Ciencias Sociales </option>
            <option>Facultad de Derecho y Ciencia Política </option>
            <option>Facultad de Educación</option>
            <option>Facultad de Farmacia y Bioquímica</option>
            <option>Facultad de Odontología </option>
            <option>Facultad de Medicina Veterinaria</option>
            <option>Facultad de Psicología </option>
            <option>Facultad de Letras y Ciencias Humanas</option>
            <option>Facultad de Química e Ingeniería Química</option>
            <option>Facultad de Ingeniería de Sistemas e Informática</option>
            <option>Facultad de Ingeniería Electrónica y Eléctrica</option>
            <option>Facultad de Ingeniería Industrial</option>
            <option>Facultad de Geográfica</option>
            <option>Facultad de Ingeniería Geológica</option>
            <option>Facultad Minera</option>
            <option>Facultad Metalúrgica</option>
        </select>
        <div class="col-4">
            <button class="btn btn-dark btn-block">Buscar</button>
        </div>
    </form>
</div>