<div class="col-12 home-inicio">Facultad</div>
<hr>
<div class="col-12 subtitulo">Facultad</div>
<div class="col-12">
    <form class="form-group row">
        <div class="col-12 col-lg-5">
            <select class="form-control" id="exampleFormControlSelect1">
                <option value="" disabled selected>Elija una Facultad</option>
                <option>Facultad de Ciencias Contables </option>
                <option>Facultad de Ciencias Económicas </option>
                <option>Facultad de Ciencias Físicas</option>
                <option>Facultad de Ciencias Matemáticas</option>
                <option>Facultad de Ciencias Sociales </option>
                <option>Facultad de Derecho y Ciencia Política </option>
                <option>Facultad de Educación</option>
                <option>Facultad de Farmacia y Bioquímica</option>
                <option>Facultad de Odontología </option>
                <option>Facultad de Medicina Veterinaria</option>
                <option>Facultad de Psicología </option>
                <option>Facultad de Letras y Ciencias Humanas</option>
                <option>Facultad de Química e Ingeniería Química</option>
                <option>Facultad de Ingeniería de Sistemas e Informática</option>
                <option>Facultad de Ingeniería Electrónica y Eléctrica</option>
                <option>Facultad de Ingeniería Industrial</option>
                <option>Facultad de Geográfica</option>
                <option>Facultad de Ingeniería Geológica</option>
                <option>Facultad Minera</option>
                <option>Facultad Metalúrgica</option>
            </select>
        </div>
        <div class="col-lg-5 mt-5"></div>
        <div class="col-12 col-lg-2">
            <button class="btn btn-dark btn-block">Buscar</button>
        </div>
    </form>
</div>