<div class="menu-homeadmin">
    <div class="menu-home" id="menu-home">
        <input type="checkbox" id="btn-menu">
        <label for="btn-menu"><img src="img\home\menu.png" alt=""> </label>
        <nav class="menu navbar navbar-light bg-light" id="menu">
            <ul>
                <li><a href="/usuario/">Inicio</a></li>
                <li><a href="/usuario/editar">Editar perfil</a></li>
                <li><a href="/usuario/favorito">Tesis favoritas</a></li>
                <li><a href="/usuario/noticias">Noticias</a></li>
                <li><a href="/usuario/recomendado">Recomendaciones</a></li>
            </ul>
            <form action="/acceso/logout" method="GET">
                <input type="submit" class="btn btn-dark" value="Cerrar sesión">
            </form>
        </nav>
    </div>
</div>