<form action="/buscador/buscar" method="get">
    <div class="search-titulo">
        Universidad Nacional Mayor de San Marcos
    </div>
    <div class="search-input input-group mb-3">
     
            <input type="text" class="form-control" placeholder="Buscar tesis y artículos..." aria-label="Recipient's username" aria-describedby="button-addon2" name="titulo" value="{{query.titulo}}">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit" id="button-addon2">
                    <i class="fas fa-search"></i>
                </button>
            </div>

        

        <div class="search-avanzada col-12">
            <a href="">Búsqueda Avanzada</a>
        </div>
    </div>
                    
</form>