<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>{{title}}</title>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/lib/animate.css">
  <link rel="stylesheet" type="text/css" href="/css/lib/hover.css">
  <link rel="stylesheet" type="text/css" href="/css/lib/bootstrap4.css"> 
  <link rel="stylesheet" type="text/css" href="/lib/fontawesome/css/all.css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,900&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/css/main.css">

  <script src="/js/lib/bootstrap4.js"></script>
</head>

<body>
 {{> header}}

  <div class="container">
    <div class="row">
      
      <div class="menu-izq col-12 col-lg-3">
        {{> sidebar}}
      </div>
      <div class="main-der col-12 col-lg-9">
        {{> navUsuario}}
        <div class="main-body col-12">
          {{{body}}}  
        </div>
        
      </div>
    </div>
  </div>

  {{> footer}}
</body>

</html>