<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>{{title}}</title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  {{> header}}
  <div class="container">
	  {{{body}}}
  </div>
  {{> footer}}
</body>
</html>