<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>{{title}}</title>
  <link rel="stylesheet" type="text/css" href="/css/lib/animate.css">
  <link rel="stylesheet" type="text/css" href="/css/lib/hover.css">
  <link rel="stylesheet" type="text/css" href="/css/lib/bootstrap4.css">
  <link rel="stylesheet" href="/css/main.css">

  <script src="/js/lib/bootstrap4.js"></script>
</head>
<body>
  {{> header}}
  <div class="container">
	  {{{body}}}
  </div>
  {{> footer}}
</body>
</html>