<div class="col-12 home-inicio">Palabra Clave</div>
<hr>
<div class="col-12 subtitulo">Palabras clave</div>
<div class="col-12">
    <form class="form-group row">
        <div class="col-10">
            <input type="text" class="form-control" placeholder="Ingrese palabras clave...">
        </div>
        <div class="col-2">
            <button class="btn btn-dark btn-block">Buscar</button>
        </div>
    </form>

   
    

</div>