
    <div class="col-12 home-inicio">Comunidades</div>
    <hr>
    <div class="col-12">
        <div class="row">
            <div class="col-1">
                <img src="img/comunidad_coleccion/academy.png" alt="academy" width="48px">
            </div>
            <div class="col-11 comunidad">
                Ciencias básicas
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="row">
            <div class="col-1">
                <img src="img/comunidad_coleccion/academy.png" alt="academy" width="48px">
            </div>
            <div class="col-11 comunidad">
                Ciencias de la salud
            </div>
        </div> 
    </div>
    <div class="col-12">
        <div class="row">
            <div class="col-1">
                <img src="img/comunidad_coleccion/academy.png" alt="academy" width="48px">
            </div>
            <div class="col-11 comunidad">
                Ciencias Económicas y de la Gestión
            </div>
        </div> 
    </div>
    <div class="col-12">
        <div class="row">
            <div class="col-1">
                <img src="img/comunidad_coleccion/academy.png" alt="academy" width="48px">
            </div>
            <div class="col-11 comunidad">
                Humanidades y Jurídicas y Sociales
            </div>
        </div> 
    </div>
    <div class="col-12">
        <div class="row">
            <div class="col-1">
                <img src="img/comunidad_coleccion/academy.png" alt="academy" width="48px">
            </div>
            <div class="col-11 comunidad">
                Ingeniería
            </div>
        </div>
    </div>
