<div class="main-der col-12 col-lg-9">
    <div class="col-12 titulo">Comunidades</div>
    <hr>
    <div class="col-12 comunidad">
        <div class="row">
            <div class="col-1">
                <img src="img/comunidad_coleccion/academy.png" alt="academy" width="60px">
            </div>
            <div class="col-11">
                Ciencias básicas
            </div>
        </div>
    </div>
    <div class="col-12 comunidad">
        <div class="row">
            <div class="col-1">
                <img src="img/comunidad_coleccion/academy.png" alt="academy" width="60px">
            </div>
            <div class="col-11">
                Ciencias de la salud
            </div>
        </div> 
    </div>
    <div class="col-12 comunidad">
        <div class="row">
            <div class="col-1">
                <img src="img/comunidad_coleccion/academy.png" alt="academy" width="60px">
            </div>
            <div class="col-11">
                Ciencias Económicas y de la Gestión
            </div>
        </div> 
    </div>
    <div class="col-12 comunidad">
        <div class="row">
            <div class="col-1">
                <img src="img/comunidad_coleccion/academy.png" alt="academy" width="60px">
            </div>
            <div class="col-11">
                Humanidades y Jurídicas y Sociales
            </div>
        </div> 
    </div>
    <div class="col-12 comunidad">
        <div class="row">
            <div class="col-1">
                <img src="img/comunidad_coleccion/academy.png" alt="academy" width="60px">
            </div>
            <div class="col-11">
                Ingeniería
            </div>
        </div>
    </div>
</div>