<div class="menu-homeadmin">
    <div class="menu-home" id="menu-home">
        <input type="checkbox" id="btn-menu">
        <label for="btn-menu"><img src="img\home\menu.png" alt=""> </label>
        <nav class="menu navbar navbar-light bg-light" id="menu">
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Tesis</a></li>
                <li><a href="">Noticias</a></li>
            </ul>

            <button id="btn-salir"  onclick="location.href='/homeadmin'" type="button" class="btn btn-danger">Salir</button>
        </nav>
    </div>
</div>

<div class="container">
  <div class="row p-3">
    <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"></div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
    </div>
    <div class="card col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 "style="text-align: center;">
      <br/>
      <div class="card-block">
        <h4 class="card-title">ADMINISTRADOR</h4>    
      </div>
    </div>
     </div>
     <br>
     <br>
 <div class="row homeopciones">
  <div class="col-sm-6 carderecha">
    <div class="card">
      <div class="card-body">
       <div id="primer-boton">
           <input id="btn1" onclick="location.href='/homeadmin'" type="button" ><img width="64px" height="64px" src="img\home\icono1.png" alt=""></input>
       </div>
      </div>
    </div>
  </div>
  
  <div class="col-sm-6 carizquierda">
    <div class="card">
      <div class="card-body">
       <div id="segundo-boton">
           <button  onclick="location.href='/homeadmin'" type="button" class="btn btn-danger">Iniciar sesión</button>
       </div>
      </div>
    </div>
  </div>
</div>

 
</div>