{{!-- 
<div class="container">
  <div class="row p-3">
    <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"></div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
    </div>
    <div class="card col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 "style="text-align: center;">
      <br/>
      <div class="card-block">
        <h4 class="card-title">ADMINISTRADOR</h4>    
      </div>
    </div>
     </div>
     <br>
     <br>
 <div class="row homeopciones">
  <div class="col-sm-6 carderecha">
    <div class="card">
      <div class="card-body">
       <div id="primer-boton">
           <input id="btn1" onclick="location.href='/homeadmin'" type="button" ><img width="64px" height="64px" src="img\home\icono1.png" alt=""></input>
       </div>
      </div>
    </div>
  </div>
  
  <div class="col-sm-6 carizquierda">
    <div class="card">
      <div class="card-body">
       <div id="segundo-boton">
           <button  onclick="location.href='/homeadmin'" type="button" class="btn btn-danger">Iniciar sesión</button>
       </div>
      </div>
    </div>
  </div>
</div>

 
</div> --}}
<style>
  body{
	background-color: #eee;
}
.item{
	background-color: #fff;
	margin-bottom: 30px;
	border: solid 1px rgba(0,0,0,0.1);
	border-radius: 5px;
	cursor: pointer;
	display: block;
	color: #000;
	text-decoration: none;
}
.item:hover{
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.4);
	text-decoration: none;
}
.item:active{
	transform:scale(0.95,0.95);
}
.item .icono{
	font-size: 40px;
	text-align: center;
	margin: 20px 0;

}
.item .nom{
	text-align: center;
	font-size: 15px;
	padding-bottom: 20px;
}

.producto img{
	width:45px;
	height: 81px;
}
</style>


<div class="container">
    <br>
    <br>
    <br>
    <div class="row justify-content-center">
      <div class="col-md-3">
          <h1 class="page-title">Administrador</h1>
      </div>
    </div>
    <br>
    <br>
    <div class="row justify-content-center" >
        <div class="col-sm-3">
                <a class="item" onclick="location.href='/admin/tesis'">
                    <div class="icono">
                    <!-- <i class="fa fa-sticky-note icono"></i> -->
                    <i class="fas fa-book icono"></i>
                    </div>
                    <div class="nom">Tesis</div>
                </a>
        </div>
        <div class="col-sm-3">
                <a class="item" onclick="location.href='/'">
                    <div class="icono">
                    <!-- <i class="fa fa-sticky-note icono"></i> -->
                    <i class="fas fa-newspaper icono"></i>
                    </div>
                    <div class="nom">Noticias</div>
                </a>
        </div>
    </div>
</div>
