
<div class="container-login" >
<div class="row-login">
<div class="main-body col-12" >
<div align ="center" class="login-body">

<form action="" class="login">

<h2>Ingreso al Sistema</h2>
<h2>Módulo de administración del Sistema de</h2>
<h2>Gestión de Tesis</h2>

<div class="form-group">
<input class="form-control" type="text" name="nombre" placeholder="Email">
</div>

<div class="form-group">
<input class="form-control" type="text" name="pass" placeholder="Password">
</div>

<button>Ingresar</button>
</form>
</div>
</div>
</div>
  </div>