<div class="home col-12">
	<div class="home-inicio col-12">
		Comunidades
	</div>

	<div class="comunidades-lista col-12">
		<form action="/buscador/comunidad" method="get">
			<input type="hidden" name="comunidad" value="2">
			<div class="comunidades-comunidad col-12">
				<button class="row align-items-end">
					<img src="img/home/casa.png" class=" img-fluid mx-auto d-block" alt="Responsive image">
					<span>Ciencias Básicas</span>
				</button>
			</div>
		</form>
		<form action="/buscador/comunidad" method="get">
			<input type="hidden" name="comunidad" value="3">
			<div class="comunidades-comunidad col-12">
				<button class="row align-items-end">
					<img src="img/home/casa.png" class="img-fluid mx-auto d-block" alt="Responsive image">
					<span>Ciencias de la Salud</span>
				</button>
			</div>
		</form>
		<form action="/buscador/comunidad" method="get">
			<input type="hidden" name="comunidad" value="4">
			<div class="comunidades-comunidad col-12">
				<button class="row align-items-end">
					<img src="img/home/casa.png" class="img-fluid mx-auto d-block" alt="Responsive image">
					<span>Ciencias Económicas y de la Gestión</span>
				</button>
			</div>
		</form>
		<form action="/buscador/comunidad" method="get">
			<input type="hidden" name="comunidad" value="5">
			<div class="comunidades-comunidad col-12">
				<button class="row align-items-end">
					<img src="img/home/casa.png" class="img-fluid mx-auto d-block" alt="Responsive image">
					<span>Humanidades Jurídicas y sociales</span>
				</button>
			</div>
		</form>
		<form action="/buscador/comunidad" method="get">
			<input type="hidden" name="comunidad" value="1">
			<div class="comunidades-comunidad col-12">
				<button class="row align-items-end">
					<img src="img/home/casa.png" class="img-fluid mx-auto d-block" alt="Responsive image">
					<span>Ingeniería</span>
				</button>
			</div>
		</form>
	</div>
</div>