<footer>
		<div class="row f-row justify-content-center">
			<a href="" target="_blank">
		      <small>&copy; 2019 Todos los derechos reservados. Diseñado por SoftSystem</small>
		    </a>
		</div>
	</footer>