<footer>
	<div class="f-row col-12">
		<div class="row justify-content-center">
			<a href="" target="_blank">
				<small>&copy; 2019 Todos los derechos reservados.<br class="d-block d-sm-none"> Diseñado por SoftSystem</small>
			</a>
		</div>
	</div>
	
</footer>