<nav role="navigation">
	<div class="h-row">
		<div class="container">
			<div class="row">
				<div class="h-logo col-12 col-lg-1">
					<a href=""><img src="/img/header/header-logo.png" class="img-fluid" alt="Responsive image"></a>
				</div>
				<div class="h-name-logo col-12 col-lg-8">
					<div class="h-name1-logo col-12">
						SGT
					</div>
					<div class="h-name2-logo col-12">
						Sistema de Gestión de Tesis 
					</div>
				</div>
				<div class="h-escudo col-12 col-lg-2">
					<a href=""><img src="/img/header/header-escudo.png" class="img-fluid" alt="Responsive image"></a>
				</div>
				
			</div>
		</div>
	</div>
</nav>