<form class="form-inline">
    <div class="form-group">
        <h4>Universidad Nacional Mayor de San Marcos</h4>
    </div>
    <div class="form-group">
        <input class="form-control" type="text" placeholder="Buscar tesis y artículos">
    </div>
    
</form>