<div class="col-12 menu-izq-row">
    <div class="col-12">
        <a href="/home" class="col-12 btn">Inicio</a>
    </div>
    <div class="col-12">
        <a href="/mas_visitadas" class="col-12 btn">Tesis más visitadas</a>
    </div>
    <div class="col-12">
        <a href="/comunidades_coleccion" class="col-12 btn">Comunidades y colección</a>
    </div>
    <div class="col-12">
        <a href="/rango_anios" class="col-12 btn">Rango de años</a>
    </div>
    <div class="col-12">
        <a href="/palabra_clave" class="col-12 btn">Palabras clave</a>
    </div>
    <div class="col-12">
        <a href="/grado_academico" class="col-12 btn">Grado académico</a>
    </div>
    <div class="col-12">
        <a href="/facultad" class="col-12 btn">Facultades</a>
    </div>
    <div class="col-12">
        <a href="/asesor" class="col-12 btn">Asesores</a>
    </div>
</div>