    <div class="col-12 menu-izq-row">
        <div class="col-12">
            <button>Inicio</button>
        </div>
        <div class="col-12">
            <button>Temas más visitados</button>
        </div>
        <div class="col-12">
            <button>Comunidades y colección</button>
        </div>
        <div class="col-12">
            <button>Rango de años</button>
        </div>
        <div class="col-12">
            <button>Palabras clave</button>
        </div>
        <div class="col-12">
            <button>Grado académico</button>
        </div>
        <div class="col-12">
            <button>Facultades</button>
        </div>
        <div class="col-12">
            <button>Asesores</button>
        </div>
    </div>