    <div class="col-12 menu-izq-row">
        <div class="col-12">
            <a href="/" class="col-12 btn">Inicio</a>
        </div>
        <div class="col-12">
            <button>Temas más visitados</button>
        </div>
        <div class="col-12">
             <a href="/comunidad_coleccion" class="col-12 btn">Comunidades y colección</a>
        </div>
        <div class="col-12">
            <button>Rango de años</button>
        </div>
        <div class="col-12">
            <a href="/palabra_clave" class="col-12 btn">Palabras clave</a>
        </div>
        <div class="col-12">
            <a href="/grado_academico" class="col-12 btn">Grado académico</a>
        </div>
        <div class="col-12">
            <a href="/facultad" class="col-12 btn">Facultades</a>
        </div>
        <div class="col-12">
            <a href="/asesor" class="col-12 btn">Asesores</a>
        </div>
    </div>