<div class="container">
    <div class="row margin-container">
        <div class="col-sm-4">
        </div>
        <div class="col-sm-8 margin-top-title">
            <form class="form-inline">
                <div class="form-group mb-2">
                    <h4>
                        Universidad Nacional Mayor de San Marcos
                    </h4>
                </div>
                <div class="form-group mx-sm-3">
                    <input class="form-control" type="text" placeholder="Buscar tesis y artículos">
                </div>
                <button type="submit" class="btn background-btn">Buscar</button>
            </form>
            <div></div>
            <form class="form-inline">
                <div class="form-group mb-2">
                    <h4>
                        Palabra Clave 
                    </h4>
                </div>
                <div class="form-group mx-sm-3">
                    <input class="form-control" type="text" placeholder="Buscar tesis y artículos">
                </div>
                <button type="submit" class="btn background-btn">Buscar</button>
            </form>
        </div>
    </div>
</div>
