<div class="col-12 home-inicio">Grado acádemico</div>
<hr>
<div class="col-12 subtitulo">Grado acádemico</div>
<div class="col-12">
    <form class="form-group row">
        <select class="col -8 form-control">
            <option>Grado Académico de Bachiller</option>
            <option>Grado Académico de Maestro</option>
            <option>Grado Académico Doctor </option>   
        </select>
        <div class="col-4">
            <button class="btn btn-dark btn-block">Buscar</button>
        </div>
    </form>
</div>