
<div class="col-12 home-inicio">Grado academico</div>
<hr>
<div class="col-12 subtitulo">Grado academico</div>
<div class="col-12">
    <form class="form-group row">
        <div class="col-12 col-lg-5">
            <select class="form-control" id="exampleFormControlSelect1">
            <option value="" disabled selected >Elija un grado académico</option>
            <option>Bachiller</option>
            <option>Titulo Profesional</option>
            <option>Maestría</option>
            <option>Doctorado</option>
            <option>Post-Doctorado</option>
            </select>
        </div>
        <div class="col-12 col-lg-5 mt-5"></div>
        <div class="col-12 col-lg-2">
            <button class="btn btn-dark btn-block">Buscar</button>
        </div>
    </form>
</div>