<div class="card  mb-3">
    <div class="card-header">
        <span><i class="fas fa-lock"></i> </i></span> &nbsp; Acceso restringido
    </div>
    <div class="card-body">
        <h5 class="card-title">Implementación y puesta en marcha de una planta de anhídrido carbónico liquido</h5>
        <p class="card-text">Reyna Ramos, Julio(Universidad Nacional Mayor de San Marcos, 1985)</p>
        <p>Propone la Implementación de una fábrica de producción de andidrido en la ciudad de Tacna considerando
            que se cuenta con un mercado creciente y sin competencia y sin competencia en el lugar. Asimismo, el
            estudio contempla el consumo.</p>
        <p>Número de visitas: 1564</p>

    </div>
</div>

<div class="card mb-3">
    <div class="card-header ">
        <span><i class="fas fa-lock-open"></i> </i></span> &nbsp; Acceso restringido
    </div>
    <div class="card-body">
        <h5 class="card-title">Implementación y puesta en marcha de una planta de anhídrido carbónico liquido</h5>
        <p class="card-text">Reyna Ramos, Julio(Universidad Nacional Mayor de San Marcos, 1985)</p>
        <p>Propone la Implementación de una fábrica de producción de andidrido en la ciudad de Tacna considerando
            que se cuenta con un mercado creciente y sin competencia y sin competencia en el lugar. Asimismo, el
            estudio contempla el consumo.</p>
        <p>Número de visitas: 1564</p>

    </div>
</div>