<div class="container">
  <br>
  <div class="row">
    <div class="col-12">
      <div class="d-flex justify-content-center">
        <h2 style="text-align: center;">{{user.nombres}} {{user.apellidos}}</h2>
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="row homeopciones ">
    <div class="col-1 col-sm-2"></div>
    <a class="col-10 col-sm-3" href="/usuario/favorito" id="primer-boton" style="color: black;">
      <br>
      <div class="d-flex justify-content-center">
        <img width="64px" height="64px" src="/img/home/icono1.png" alt="">
      </div>
      <div class="d-flex justify-content-center">
        <h4>Tesis Favoritas</h4>
      </div>
    </a>
    <div class="col-1 col-sm-0"></div>
    <div class="col-1 col-sm-0"></div>
    <a class="col-10 col-sm-3" href="/usuario/noticias" id="segundo-boton"style="color: black;"> 
      <br>
      <div class="d-flex justify-content-center">
        <img width="64px" height="64px" src="/img/home/icono2.png" alt="">
      </div>
      <div class="d-flex justify-content-center">
        <h4>Noticias</h4>
      </div>
    </a>
  </div>
  <br>
  <br>
  <br>
</div>