<div class="container">
    <br>
    <h4>Tesis favoritas</h4>
    <div class="row d-flex justify-content-center">
        
        <div class="col-10">
            <table class="table table-sm" style="text-align: center;">
                <thead>
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Titulo</th>
                    <th scope="col">Autor</th>
                    <th scope="col">URL</th>
                    <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        <td>
                            <button class="btn btn-dark">
                                Visualizar
                            </button>
                        </td>
                    </tr>
                </tbody>
                </table>
        </div>
    </div>
    <br>
    <br>
</div>